
 # Copyright (C) 2013-2016 Marco Dalla Libera 
 # 
 # acpi_call_GUI_systemd is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 # 
 # acpi_call_GUI_systemd is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 # 
 # You should have received a copy of the GNU General Public License
 # along with this program; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 # MA 02110-1301, USA.

[Unit]
Description=Check if there had been kernel updates, if true recompiles acpi_call kernel module
Before=automates.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/acpi_call_GUI_systemd/agg_acpi_call.sh"

[Install]
WantedBy=multi-user.target 
